In [1]:
"""Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series."""

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
"""Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it."""

variable = ['WaterMelon', 'Banana', 'Apple', 'Samsung', 'Oneplus', 13, 29, 81, 100, "Water"]
series = pd.Series(variable)
print(series)

0    WaterMelon
1        Banana
2         Apple
3       Samsung
4       Oneplus
5            13
6            29
7            81
8           100
9         Water
dtype: object

In [3]:
"""Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame."""

data = {
    'Name' : ['Alice', 'Bob', 'Claire'],
    'Age' : [25, 30, 27],
    'Gender' : ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
"""Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

    Ans: In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types, 
         similar to a table in a relational database. Each column in a DataFrame is represented by a pandas.Series, 
         and multiple Series are combined into a DataFrame to represent a tabular data structure.

         The main difference between a Pandas Series and a DataFrame is that a Series is a one-dimensional labeled array that 
         can contain any data type (numeric, string, boolean, etc.), while a DataFrame is a two-dimensional labeled 
         data structure that is composed of multiple Series, each of which can have a different data type. 
         Another difference is that a DataFrame can have multiple columns, whereas a Series has only one column.
         
         Example: 
"""

import pandas as pd

series = pd.Series([10, 20, 30, 40, 50])

data = {'numbers': [10, 20, 30, 40, 50], 'labels': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data)

print(series)
print(df)

0    10
1    20
2    30
3    40
4    50
dtype: int64
   numbers labels
0       10      a
1       20      b
2       30      c
3       40      d
4       50      e

In [ ]:
"""Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
       you give an example of when you might use one of these functions?
       
   Ans: There are many common functions available in Pandas for manipulating data in a DataFrame. Here are some examples:

        1. head() and tail(): these functions allow you to view the first or last n rows of a DataFrame. 
            For example, you might use df.head(10) to view the first 10 rows of a DataFrame.
        2. describe(): this function provides summary statistics for each numerical column in the DataFrame, 
            such as count, mean, and standard deviation. For example, you might use df.describe() to view a 
            summary of the numerical data in the DataFrame.
        3. dropna(): this function allows you to remove any rows with missing data. 
            For example, you might use df.dropna() to remove any rows with missing data in a DataFrame.
        4. groupby(): this function allows you to group the data in the DataFrame by one or more columns and perform an 
            operation on each group. For example, you might use df.groupby('category').mean() to group the data by a categorical variable and calculate the mean value for each group.
        5. sort_values(): this function allows you to sort the DataFrame by one or more columns. 
            For example, you might use df.sort_values('date') to sort the DataFrame by a date column.
        6. apply(): this function allows you to apply a function to each column or row in the DataFrame. 
            For example, you might use df.apply(lambda x: x**2) to square each value in the DataFrame.
        7. merge(): this function allows you to combine two DataFrames based on a common column. 
            For example, you might use pd.merge(df1, df2, on='id') to merge two DataFrames based on a shared id column.
"""

In [ ]:
"""Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

    Ans: In Pandas, both Series and DataFrame are mutable, which means that you can modify the data they contain 
         after they have been created.
"""

In [5]:
"""Q7. Create a DataFrame using multiple Series. Explain with an example."""

import pandas as pd


names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
gender = pd.Series(['Female', 'Male', 'Female'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': gender})

print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35  Female